<h1>Recently Played Tracks</h1>
<p> Total of {{num}} Tracks</p>
<table>
    <tr style="color: blue">
        <th> Name </th>
        <th> Artist </th>
        <th> Played At</th>
    </tr>
    {{#tracks}}
        <tr>
            <th>{{track.name}}</th>

            <th>
                {{#track.artists}}
                    {{name}} </br>
                {{/track.artists}}
            </th>

            <th>{{played_at}}</th>
        </tr>
    {{/tracks}}
</table>