<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>


<p>You have successfully authorized through spotify</p>
<p>Access Token: {{accessToken}}</p>
<p id="show-list"></p>

<div>
    <button id="get-recent"> Retrieve Your Recent Played Tracks </button>
    <button id="get-top-tracks"> Retrieve Your Top Played Tracks </button>
</div>
<div>
    <button id="get-playlists"> Retrieve Your Playlists </button>
</div>



<script>
    $('#get-recent').click(function(){
        $.ajax({
            url : '/get-recent-played',
            success : function(data){
                $('#show-list').html(data);
            },
            error : function() {
                console.log('error');
            }
        })
    });
    $('#get-top-tracks').click(function(){
        $.ajax({
            url : '/get-top-tracks',
            success : function(data){
                $('#show-list').html(data);
            },
            error : function() {
                console.log('error');
            }
        })
    });$('#get-playlists').click(function(){
        $.ajax({
            url : '/get-playlists',
            success : function(data){
                $('#show-list').html(data);
            },
            error : function() {
                console.log('error');
            }
        })
    });
</script>