

<p>You have successfully authorized through spotify</p>
<p>Access Token: {{accessToken}}</p>


<button id="retrieve-top"> Retrieve Your Top Artists and Tracks </button>


<script>
    $('#retrieve-top').click(function(){

    })
</script>