<p>Please select a playlist</p>

<div>
    <div id="playlist">

    </div>
    <select id="playlists-select">
        {{#playlists}}
            <option value="{{tracks.href}}"> {{name}} </option>
        {{/playlists}}
    </select>
    <button id="submit-playlist" class="btn btn-outline-primary">Submit</button>
</div>



