<h1>Tracks</h1>
<p> Total of {{num}} Tracks</p>
<table>
    <tr>
        <th> Name </th>
        <th> Artist </th>
    </tr>
    {{#tracks}}
    <tr>
        <tr>
            <th>{{name}}</th>

            <th>
                {{#artists}}
                    <p>{{name}}</p>
                {{/artists}}
            </th>
        </tr>
    </tr>
    {{/tracks}}
</table>